* {
    padding: 0;
    margin: 0;
}

/* body general */

body {
    /*display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
    grid-template-columns:  ;*/
}

/* header */

header {
    height: auto;
    min-height: 100px;
    width: 100%;
    top: 0;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header img {
    height: 80px;
}

header input {
    width: 80%;
    height: 30px;
    padding: 3px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #049504;

    color: #008900;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#icoBuscar {
    height: 40px;
}

#buscador {
    display: flex;
    width: 25%;
    height: 90%;
    align-items: center;
}

/* container */

#container {
    background-color: #d1f6db;
    width: 100%;
    height: 700px;
}

aside {
    width: 300px;
    height: 100%;
    position: relative;
    padding: 10px;
    background-color: purple;
    color: #aaffaa;
    list-style: none;
}

#container aside ul { list-style-type: none;
}
#container aside ul li.nivel1 {width: 144px;}
#container aside ul li.primera {border-top: solid 1px #FFF;}
#container aside ul li a {display: block;
    text-decoration: none;
    color: red;
    background-color: #d1f6db;
    border: solid 1px #fff;
    border-top: none;
    padding: 8px;
    position: relative;
}
#container aside ul li:hover {position: relative;
    background-color: #d1f6db;
    color: #000;
}
#container aside ul li a:hover, #container aside ul li:hover a.nivel1 {background-color: #d1f6db;
    color: #000;
    position: relative;
}
#container aside ul li a.nivel1 {display: block!important;display: none;
    position: relative;
}
#container aside ul li ul {display: none;
}
#container aside ul li a:hover ul, #container aside ul li:hover ul {display: block;
    position: absolute;left: 141px;top:-1px!important;top: -31px;
}
#container aside ul li ul li a {width: 140px;
    background-color: #d1f6db;
    color: #000;
}
#container aside ul li ul li a:hover {position: relative;
    background-color: #d1f6db;
    color: #FFF;
}
table.falsa {border-collapse:collapse;
    border:0px;
    float: left;
    position: relative;
}
/* footer */