* {
  padding: 0;
  margin: 0;
}

/* body general */

body {
  /*display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
  grid-template-columns:  ;*/
}

/* header */

header {
  height: auto;
  min-height: 100px;
	width: 100%;
	top: 0;
	background-color: white;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

header img {
  height: 80px;
}

header input {
  width: 80%;
  height: 30%;
  padding: 1px;
  margin: 10px;
}

#icoBuscar {
  height: 40px;
}

#buscador {
  display: flex;
  width: 40%;
  height: 80%;
  align-items: center;
}

/* container */

#container {
  background-color: blue;
  width: 100%;
  height: 700px;
}

/* footer */