* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:darkgreen;
}

hr {
    margin: 0 auto;
    width: 100%;
    color: green;
    border-style: solid; 
}

/* body general */

body {
 font-family: 'Roboto', sans-serif;
}

/* header */

header {
    height: auto;
    min-height: 100px;
    width: 100%;
    top: 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}

header img {
    height: 80px;
    
}
header :first-of-type{
 margin-left: 10px;    
    
}
header :last-of-type{
    margin-right: 10px; 
}

header input {
    width: 80%;
    height: 30px;
    padding: 3px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #049504;

    color: #008900;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#icoBuscar {
    height: 40px;
}

#buscador {
    display: flex;
    width: 25%;
    height: 90%;
    align-items: center;
}

/* container */

#container {
    background-color: #d1f6db;
    width: 100%;
    display: flex;
    align-items: stretch;
}

/* menu lateral*/

section {
  background-color: 049504;
  /*flexbox*/
  display: flex;
  justify-content: center;
  /*! align-content: flex-start; */
  flex-wrap: wrap;
  flex-direction: row;
}

aside {

  width: 360px;
  padding: 10px;
  background-color: green;
}

aside ul {
    list-style-type: none;
}

aside ul li.nivel1 {
    width: 144px;
}

aside ul li.primera {
    /*! border-top: solid 1px #FFF; */
}

aside ul li a {display: block;
    text-decoration: none;
    color: #199600;
    background-color: #fff;
    border: solid 1px #fff;
    border-top: none;
    padding: 8px;
    position: relative;
}
aside ul li:hover {
    position: relative;
    background-color: #d1f6db;
    color: #000;
}
aside ul li a:hover, #container aside ul li:hover a.nivel1 {background-color: #d1f6db;
    color: #2e6f00;
    position: relative;
}
aside ul li a.nivel1 {display: block!important;display: none;
    position: relative;
}
aside ul li ul {display: none;
}
aside ul li a:hover ul, #container aside ul li:hover ul {display: block;
    position: absolute;left: 141px;top:-1px!important;top: -31px;
}
aside ul li ul li a {width: 140px;
    background-color: #fff;
    color: #088600;
}
aside ul li ul li a:hover {position: relative;
    background-color: #d1f6db;
    color: #FFF;
}
table.falsa {border-collapse:collapse;
    border:0px;
    float: left;
    position: relative;
}
/* ARTICULOS */


#articulo{
    display: flex;
    align-content: center;
    justify-content: center;
    width:60%;
    
    margin:50px 0;
}
#foto{
    width:100%;
    margin:15px;
    display: flex;
    text-align:center;
    flex-direction:column;
       
    
}
.titulo {
    
    color:darkgreen;
    height:30px; 
}

#compra{
    margin: 15px 15px 15px 0px;
    
    background-color:white;
   padding:10px;
    
}
table{
    
}




table td{
    padding:5px;
}


#carrito{
    width:45%;
    background-color: white;
    border:2px solid darkgreen;
    height: 30px;
}
#carrito:active{
    background-color: darkgreen;
    color:white;
}

#comprar{
    width:45%;
    background-color:darkgreen;
    height: 30px;
    color:white;
    
}
#cantidad{
    width: 40px;
}

.stock{
    color:darkgreen;
    font-weight: bold;
    
}

.precio{
    font-size: 45px;
    color:darkgreen;
}


#botones{
    margin: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#descripcion{
    
    background-color: white;
    width:60%;
    display: flex;
    flex-direction: column;
    margin:30px;
    padding:20px 20px 20px 20px;
   
    
}

/* footer */
footer{
    color:darkgreen;
   
    width:auto;
    display:flex;
    text-align: center;
    justify-content: center;
    

    
    height: 50px;
    align-items: center;
}

footer h3 {
    margin: 0 20px;
}