* {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0 auto;
    width: 80%;
    color: green;
    border-style: solid; 
}

/* body general */

body {
 font-family: 'Roboto', sans-serif;
}

/* header */

header {
    height: auto;
    min-height: 100px;
    width: 100%;
    top: 0;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header img {
    height: 80px;
}

header input {
    width: 80%;
    height: 30px;
    padding: 3px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #049504;

    color: #008900;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#icoBuscar {
    height: 40px;
}

#buscador {
    display: flex;
    width: 25%;
    height: 90%;
    align-items: center;
}

/* container */

#container {
    background-color: #d1f6db;
    width: 100%;
    display: flex;
    align-items: stretch;
}

/* menu lateral*/

section {
  background-color: 049504;
  /*flexbox*/
  display: flex;
  justify-content: center;
  /*! align-content: flex-start; */
  flex-wrap: wrap;
  flex-direction: row;
}

aside {
  width: 500px;
  padding: 10px;
  background-color: green;
}

aside ul {
    list-style-type: none;
}

aside ul li.nivel1 {
    width: 144px;
}

aside ul li.primera {
    border-top: solid 1px #FFF;
}

aside ul li a {display: block;
    text-decoration: none;
    color: red;
    background-color: #d1f6db;
    border: solid 1px #fff;
    border-top: none;
    padding: 8px;
    position: relative;
}
aside ul li:hover {
    position: relative;
    background-color: #d1f6db;
    color: #000;
}
aside ul li a:hover, #container aside ul li:hover a.nivel1 {background-color: #d1f6db;
    color: #000;
    position: relative;
}
aside ul li a.nivel1 {display: block!important;display: none;
    position: relative;
}
aside ul li ul {display: none;
}
aside ul li a:hover ul, #container aside ul li:hover ul {display: block;
    position: absolute;left: 141px;top:-1px!important;top: -31px;
}
aside ul li ul li a {width: 140px;
    background-color: #d1f6db;
    color: #000;
}
aside ul li ul li a:hover {position: relative;
    background-color: #d1f6db;
    color: #FFF;
}
table.falsa {border-collapse:collapse;
    border:0px;
    float: left;
    position: relative;
}


/* Slideshow */

@keyframes slidy {
  0% { left: 0%; }
  30% { left: 0%; }
  35% { left: -100%; }
  60% { left: -100%; }
  65% { left: -200%; }
  95% { left: -200%; }
  100% { left: -300%; }
}

#slider {
  height: 100%;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

#slider figure img{
  width: 20%;
  float: left;
  height: 100%;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
  height: 100%;
}

#principal{
  display: flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items: flex-end;
  height: 300px;
}


/* cajas */

.caja {
  width: 220px;
  min-height: 100px;
  max-height: 300px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 5px;
  font-family: 'Abel', sans-serif;
}

.caja img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.caja p {
  margin: 5px;
  text-align: center;
  color: green;
  font-size: 20px;
}
/* footer */
